# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
dist/
.DS_Store

# Build
build/
*.egg-info/
